#container div {
    display: inline-block;
}

#user-inputs {
    width: 40%;
    min-height: 100%;
    height: 100vh;
    border-right: #a9a9a9 solid 1px;
    background: #eaeef3;
    box-sizing: border-box;
}

#transcripts {
    width: 60%;
}

.container {
    min-height: 100%;
}
